$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%btn{
  color: #fff;
  background-color: $accent;
  @extend %rubik-400;
  cursor: pointer;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border: none;
}

