@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header{
  padding: 40px 87px 0 83px ;
  &__inner{
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  position: relative;
  &__hollow{
    position: absolute;
    left: 16%;
  }
  &__empty{
    position: relative;
    left: 50%;
  }
  &__letter{
    position: relative;
    left: 0;
    width: 14px;
    height: 28px;
  }
}

/* .user-nav{
  &__link{
    position: relative;
  }
} */


.top-main{
  &__item{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    padding-top: 101px;
    position: absolute;
  }
  &__title{
    position: relative;
    @extend %rubik-400;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
    z-index: 15;
  }
  &__text{
    max-width: 425px;
    margin-bottom: 71px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
  }
  &__link{
    @extend %btn;
    padding: 14px 48px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
  }
  &__img{
    position: relative;
    left: 50%;
  }
}

.categories{
  &__inner{
    position: relative;
  }
  &__title-top{
    position: absolute;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 860px;
    margin-left: 0;
  }
  &__item{
    max-width: 380px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
  }
}

.category-card{
  padding: 0 48px;
  &__image-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 48px;
    padding-bottom: 50px;
  }
  &__body{
    margin-bottom: 48px;
  }
  &__title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
  }
  &__text{
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
  }
  &__link{
    display: flex;
 
  }
  &__link-inner{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin-right: 20px;
  }
}













@import 'media';